.contacts_box{
    background-color: antiquewhite;
    padding-top: 1px;
    padding-bottom: 47px;
}

.contacts_title{
    text-align: center;
    color: rgb(62, 218, 245);
}

.contacts_name{
    text-align: center;
    color: rgb(62, 218, 245);
}